{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<h1>Connexion</h1>

{{ form_start(form) }}
    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div>
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>

    <div>
        {{ form_widget(form.login) }}
    </div>

{{ form_end(form) }}
{% endblock %}
