{# templates/abonnement/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
    <div class="container-fluid program py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Our Packs</h4>
                <h1 class="mb-5 display-3">We Offer An Exclusive Program For Kids</h1>
            </div>
            <div class="row g-5 justify-content-center">
                {% for pack in packs %}
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="program-item rounded">
                            <div class="program-img position-relative">
                                <div class="overflow-hidden img-border-radius">
                                    <img src="{{ asset('img/program-1.jpg') }}" class="img-fluid w-100" alt="Image">
                                </div>
                                <div class="px-4 py-2 bg-primary text-white program-rate">${{ pack.price }}</div>
                            </div>
                            <div class="program-text bg-white px-4 pb-3">
                                <div class="program-text-inner">
                                    <a href="#" class="h4">{{ pack.name }}</a>
                                    <p class="mt-3 mb-0">{{ pack.description }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
                                <small class="text-white"><i class="fas fa-clock me-1"></i> {{ pack.duration }} Days</small>
                            </div>
                            <div class="d-inline-block text-center wow fadeIn" data-wow-delay="0.1s">
                                <a href="{{ path('app_payment_new', {'packId': pack.id}) }}" class="btn btn-primary px-5 py-3 text-white btn-border-radius">Choose</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}