{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter un Cours{% endblock %}

{% block body %}

    <!-- Form Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Ajouter un Cours</h4>

            <!-- Affichage des erreurs globaux du formulaire -->
            {% if form is defined and not form.vars.valid %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.vars.errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Formulaire de Cours -->
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.dateHeure) }}
                {{ form_row(form.enseignant) }}
                {{ form_row(form.theme) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}

            <a href="{{ path('app_cours_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
    <!-- Form End -->

{% endblock %}
