{# templates/user/profile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <h1>My Profile</h1>

    <div>
        <p><strong>Nom:</strong> {{ user.nom }}</p>
        <p><strong>Prenom:</strong> {{ user.prenom }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Roles:</strong> {{ user.roles ? user.roles|json_encode : '' }}</p>
    </div>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit Profile</a>
{% endblock %}
